body
{
    font-family: ‘Tahoma’, ‘Geneva’, sans-serif;
}

h1
{
    font-size:175%;
    line-height:0.9em;
}

h2
{
    font-size:125%;
    line-height:1.2em;
}

a:link, a:hover, a:active, a:visited
{
    text-decoration:none;   
}

button
{
    /*border-radius: 0.2em;*/
    margin:0.1em 0;
}

#wrapper, #header, #top-wrapper, #scene, #sidebar, #bottom-wrapper, #controls-1, #controls-2, #controls-3, #footer
{
    margin:0.5em;
    /*border:1px solid;*/
}

#wrapper
{
    min-width:56em;
}

#top-wrapper
{
    height:30em;
    padding:0.5em;
}

#scene, #sidebar, #controls-1, #controls-2, #controls-3
{
    height:100%;
    margin:0 0.5em;
}

#scene
{
    float:left;
    width:65%;
}

#sidebar
{
    float:right;
    width:30%;
}

#console
{
    font-family:'Courier New', 'Courier', 'Monaco', monospace;
    font-size:80%;
    height:90%;
    overflow: auto;
}

#bottom-wrapper
{
    height:20em;
    padding:0.5em;
}

#controls-1, #controls-2, #controls-3
{
    float:left;
    width:30%;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
